<section id="projects">
<div class="container">
  <h3>Books</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4> These are the list of Books I have read. I will try to update them as often as possible. </h4>
		<h2>
			Medicine
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.springer.com/us/book/9783319134789">Career Skills for Doctors</a></strong>
			- Read on January, 2016.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Better-Surgeons-Performance-Atul-Gawande/dp/0312427654">Better: A Surgeon's Notes on Performance</a></strong>
			- Read on October, 2015.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Checklist-Manifesto-How-Things-Right/dp/0312430000/">The Checklist Manifesto: How to Get Things Right</a></strong>
			- Read on January, 2015.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Ultimate-Choosing-Medical-Specialty-byFreeman/dp/B004QPJG5U/">The Ultimate Guide To Choosing a Medical Specialty</a></strong>
			- Read on April, 2013.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Think-Big-Unleashing-Potential-Excellence/dp/0310269008/">Think Big: Unleashing Potential Excellence</a></strong>
			- Read on 2005/2006.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Gifted-Hands-Ben-Carson-Story/dp/0310214696/">Gifted Hands: The Ben Carson Story</a></strong>
			- Read on 2005/2006.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Big-Picture-Ben-Carson/dp/031023834X/">Big Picture</a></strong>
			- Read on 2005/2006.
		</h4>
		<h2>
			John Grisham Books
		</h2>	
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Rogue-Lawyer-John-Grisham/dp/0385539436/">John Grisham: Rogue Lawyer</a></strong>
			- Read on January, 2016.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Sycamore-Jake-Brigance-John-Grisham/dp/0345543246/">John Grisham: Sycamore Row</a></strong>
			- Read on April, 2015.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/King-Torts-Novel-John-Grisham/dp/034553199X/">The King of Torts: A Novel</a></strong>
			- Read on March, 2015.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Appeal-Novel-John-Grisham/dp/0345532023/">The Appeal: A Novel</a></strong>
			- Read on February, 2015.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Associate-Novel-John-Grisham/dp/0440243823/">The Associate: A Novel</a></strong>
			- Read on January, 2015.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Gray-Mountain-Novel-John-Grisham-ebook/dp/B00JYWUHO4/">Gray Mountain: A Novel</a></strong>
			- Read on December, 2014.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Partner-Novel-John-Grisham/dp/0345531957/">The Partner: A Novel</a></strong>
			- Read on December, 2014.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Broker-Novel-John-Grisham/dp/0345532007/">The Broker: A Novel</a></strong>
			- Read on November, 2014.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Street-Lawyer-Novel-John-Grisham/dp/0440245958/">The Street Lawyer: A Novel</a></strong>
			- Read on October, 2014.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Racketeer-Novel-John-Grisham/dp/0345530578/">The Racketeer: A Novel</a></strong>
			- Read on December, 2013.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Litigators-Novel-John-Grisham/dp/034553056X/">The Litigators: A Novel</a></strong>
			- Read on December, 2012.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Confession-Novel-John-Grisham/dp/0385528043/">The Confession: A Novel</a></strong>
			- Read on December, 2010.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Time-Kill-Novel-John-Grisham/dp/0440245915/">A Time to Kill: A Novel</a></strong>
			- Read on June, 2010.
		</h4>
		<h2>
			Sports Autobiography
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/2Sides-My-Autobiography-Rio-Ferdinand/dp/1905825943/">Rio Ferdinand: #Sides My Autobiography</a></strong>
			- Read on May, 2016.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Always-Managing-Autobiography-Harry-Redknapp/dp/0091917875/">Harry Redknapp: Always Managing</a></strong>
			- Read on January, 2016.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.co.uk/Second-Half-Roy-Keane/dp/1780228821">Roy Keane: The Second Half</a></strong>
			- Read on July, 2015.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Stillness-Speed-Story-Dennis-Bergkamp/dp/1471129535/">Dennis Bergkamp: Stillness and Speed</a></strong>
			- Read on March, 2015.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Andrea-Pirlo-Think-Therefore-Play/dp/1909430161/">Andrea Pirlo: I Think Therefore I Play</a></strong>
			- Read on April, 2014.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Alex-Ferguson-My-Autobiography-Sir/dp/0340919396/">Alex Ferguson: My Autobiography</a></strong>
			- Read on November, 2013.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Red-My-Autobiography-Gary-Neville/dp/0593065603/">Red: My Autobiography</a></strong>
			- Read on January, 2012.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Eric-Cantona-Philippe-Auclair/dp/0330511858/"> Eric Cantona: The Rebel Who Will Be King</a></strong>
			- Read on January, 2012.
		</h4>
		<h2> Others </h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Collection-Essays-George-Orwell/dp/0156186004/">Orwell, George: Collection of Essays</a></strong>
			- Read on June-October, 2015.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/My-Silent-War-Autobiography-Spy/dp/0375759832/">My Silent War: Autobiography of a spy by Phil Kimby</a></strong>
			- Read on January, 2016.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Deng-Xiaoping-Transformation-China-Vogel/dp/0674725867/">Deng Xiaoping and the Transformation of China</a></strong>
			- Read on 2012-2013.
			This was a long read. I have been reading on and off for two years.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Steve-Jobs-Walter-Isaacson/dp/1451648537/"> Steve Jobs</a> By Walter Isaacson,</a></strong>
			- Read on November, 2011.
		</h4>	
		<h5> Updated on July, 2016 </h5>
    </div>
  </div>
</div>
</section>
