<section id="projects">
<div class="container">
  <h3>Books</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4> As you can tell from my reading habits, John Grisham is my favorite writer and is the only author whose books I'm able to finish in one setting, Mostly on weekends after stressful week. 
		     I also enjoy reading dense historical books, they let me suspend reality and try to re-live and evaluate what was happening back then and its relevance to today's world 
		</h4>
	    
		<h2>
			2021
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Promised-Land-Barack-Obama/dp/1524763160/">A Promised Land by Barack Obama</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Lucky-How-Biden-Barely-Presidency/dp/0525574220/">Lucky: How Joe Biden Barely Won the Presidency</a></strong>
		</h4>
	    
		<h2>
			2020
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Super-Pumped-Battle-Mike-Isaac/dp/0393652246/">Super Pumped: The Battle for Uber</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/MBS-Rise-Power-Mohammed-Salman/dp/1984823825/">MBS: The Rise to Power of Mohammed bin Salman</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Reboot-My-Life-Time/dp/1911613421/">Reboot by Michael Owen</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Road-Zero-Somalias-Self-Destruction/dp/1874209758/">The Road To Zero by Mohamed Osman Omar</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Ultimate-Sales-Machine-Turbocharge-Relentless/dp/1591842158/">The Ultimate Sales Machine by Chet Holmes</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Too-Much-and-Never-Enough/dp/1471190145/">Too Much and Never Enough by Mary L. Trump</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Ride-Lifetime-Lessons-Learned-Company/dp/0399592091/">The Ride of a Lifetime by Robert Iger</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Time-Mercy-Jake-Brigance/dp/0385545967/">A Time for Mercy by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Third-World-First-Singapore-1965-2000/dp/0060197765/">The Singapore Story by Lee Kuan Yew</a></strong>
		</h4>
	    
		<h2>
			2019
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Guardians-Novel-John-Grisham/dp/052562094X/">The Guardians by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Michael-Carrick-Between-Lines-Autobiography/dp/178870052X/">Michael Carrick: Between the Lines</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Ibn-Saud-Warrior-Created-Kingdom/dp/1634502671/">Ibn Saud: The Desert Warrior Who Created the Kingdom of Saudi Arabia</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Aesthetic-Intelligence-Boost-Business-Beyond/dp/0062883305/">Aesthetic Intelligence: How to Boost It and Use It in Business and Beyond</a></strong>
		</h4>
	    
		<h2>
			2018
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Reckoning-Novel-John-Grisham/dp/1984819585/">The Reckoning by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Business-Stripped-Bare-Adventures-Entrepreneur/dp/1905264429/">Business Stripped Bare by Richard Branson</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Bad-Blood-Secrets-Silicon-Startup/dp/0525431993/">Bad Blood</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Shoe-Dog-Memoir-Creator-Nike/dp/1501135929/">Shoe Dog: A Memoir by the Creator of NIKE</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Art-Profitability-Adrian-Slywotzky/dp/0446692271/">The Art of Profitability by Adrian Slywotzky</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Superhuman-Habit-Becoming-Possible-Yourself/dp/1503295591/">Superhuman by Habit by Tynan</a></strong>
		</h4>
	    
		<h2>
			2017
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Rooster-Bar-Novel-John-Grisham/dp/1101967706/">The Rooster Bar by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Camino-Island-Novel-John-Grisham/dp/1524797146/">Camino Island by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Whistler-Novel-John-Grisham/dp/1101967676/">The Whistler by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Leading-Learning-Years-Manchester-United/dp/0316268089/">Leading: Lessons in leadership from the legendary Manchester United manager</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/When-Breath-Becomes-Paul-Kalanithi/dp/081298840X/">When Breath Becomes Air</a></strong>
		</h4>
	    
		<h2>
			2016
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Career-Doctors-Charalambos-Panayiotou-Charalambous-dp-3319134787/dp/3319134787/">Career Skills for Doctors</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Rogue-Lawyer-John-Grisham/dp/0385539436/">Rogue Lawyer by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Zero-One-Notes-Startups-Future/dp/0804139296/">Zero to One by Peter Thiel and Blake Masters</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Always-Managing-Autobiography-Harry-Redknapp/dp/0091917875/">Harry Redknapp: Always Managing</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/My-Silent-War-Autobiography-Spy/dp/0375759832/">My Silent War: Autobiography of a spy by Phil Kimby </a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/2Sides-My-Autobiography-Rio-Ferdinand/dp/1905825943/">Rio Ferdinand: #Sides My Autobiography</a></strong>
		</h4>
	    
		<h2>
			2015
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Checklist-Manifesto-How-Things-Right/dp/0312430000/">The Checklist Manifesto: How to Get Things Right</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Associate-Novel-John-Grisham/dp/0440243823/">The Associate by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Appeal-Novel-John-Grisham/dp/0345532023/">The Appeal by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Better-Surgeons-Performance-Atul-Gawande/dp/0312427654/">Better: A Surgeon's Notes on Performance</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/King-Torts-Novel-John-Grisham/dp/034553199X/">The King of Torts by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Collection-Essays-George-Orwell/dp/0156186004/">George Orwell: Collection of Essays</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Sycamore-Jake-Brigance-John-Grisham/dp/0345543246/">Sycamore Row by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Lean-Startup-Entrepreneurs-Continuous-Innovation/dp/0307887898/">The Lean Startup - by Eric Ries</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Affordable-Excellence-Singapore-Health-System-ebook/dp/B00CDUS7WS/">Affordable Excellence: The Singapore Health System by William A. Haseltine</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.co.uk/Second-Half-Roy-Keane/dp/1780228821">Roy Keane: The Second Half</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Stillness-Speed-Story-Dennis-Bergkamp/dp/1471129535/">Dennis Bergkamp: Stillness and Speed</a></strong>
		</h4>
	    
		<h2>
			2014
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Andrea-Pirlo-Think-Therefore-Play/dp/1909430161/">Andrea Pirlo: I Think Therefore I Play</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/30-Second-Storyteller-Directing-Commercials-Filmmakers/dp/1598632264/">The 30-Second Storyteller: The Art and Business of Directing Commercials</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Gray-Mountain-Novel-John-Grisham-ebook/dp/B00JYWUHO4/">Gray Mountain by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Partner-Novel-John-Grisham/dp/0345531957/">The Partner by John Grisham</a></strong>
		</h4>
                <h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Broker-Novel-John-Grisham/dp/0345532007/">The Broker by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Street-Lawyer-Novel-John-Grisham/dp/0440245958/">The Street Lawyer by John Grisham</a></strong>
		</h4>
	    
		<h2>
			2013
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Alex-Ferguson-My-Autobiography-Sir/dp/0340919396/">Alex Ferguson: My Autobiography</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Racketeer-Novel-John-Grisham/dp/0345530578/">The Racketeer by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Ultimate-Choosing-Medical-Specialty-byFreeman/dp/B004QPJG5U/">The Ultimate Guide To Choosing a Medical Specialty  By Brian Freeman</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Thinking-Fast-Slow-Daniel-Kahneman/dp/0374533555/">Thinking, Fast and Slow by Daniel Kahneman </a></strong>
		</h4>
	    
		<h2>
			2012
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Litigators-Novel-John-Grisham/dp/034553056X/">The Litigators by John Grisham</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Deng-Xiaoping-Transformation-China-Vogel/dp/0674725867/">Deng Xiaoping and the Transformation of China</a></strong>
			- This was a long read. I have been reading on and off for two years.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Red-My-Autobiography-Gary-Neville/dp/0593065603/">Red: My Autobiography </a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Eric-Cantona-Philippe-Auclair/dp/0330511858/">Eric Cantona: The Rebel Who Will Be King</a></strong>
		</h4>
	    
		<h2>
			2011
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Steve-Jobs-Walter-Isaacson/dp/1451648537/">Steve Jobs By Walter Isaacson</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Time-Kill-Novel-John-Grisham/dp/0440245915/">A Time to Kill by John Grisham</a></strong>
		</h4>
	    
		<h2>
			2010
		</h2>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Game-Neil-Strauss/dp/0062312979/">The Game by Neil Strauss </a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/4-Hour-Workweek-Timothy-Ferriss/dp/0091923727/">The 4-Hour Workweek by Tim Ferriss</a></strong>
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Confession-Novel-John-Grisham/dp/0385528043/">The Confession by John Grisham</a></strong>
		</h4>
	    
		<h2> 
		    Before 2010 
		</h2>
		<h4>
		    I read these books while I was in high school, I remember enjoying reading them in the library after the exams.
		</h4>
	    
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/Harry-Potter-Complete-Collection-1-7-ebook/dp/B01B3DIPMW">Harry Potter Books 1-5</a></strong>
			- Read on December 2005 - October, 2008.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="https://www.amazon.com/gp/product/B000FBJFSM/">Angels & Demons by Dan Brow</a></strong>
			- Read on August 2007.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Da-Vinci-Code-Special-Illustrated/dp/8675600224/">Da Vinci Code by Dan Brown</a></strong>
			- Read on April, 2007.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Think-Big-Unleashing-Potential-Excellence/dp/0310269008/">Think Big: Unleashing Potential Excellence By Ben Carson and Cecil Murphey</a></strong>
			- Read on 2005-2006.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Gifted-Hands-Ben-Carson-Story/dp/0310214696/">Gifted Hands: The Ben Carson Story By Ben Carson and Cecil Murphey</a></strong>
			- Read on 2005/2006.
		</h4>
		<h4>
			<i class="fa fa-book"></i><strong>&nbsp;&nbsp;<a href="http://www.amazon.com/Big-Picture-Ben-Carson/dp/031023834X/">Big Picture By Ben Carson and Gregg Lewis</a></strong>
			- Read on 2005/2006.
		</h4>
	    
	    
		<h5> Updated on April, 2021 </h5>
    </div>
  </div>
</div>
</section>
